<h1> Add a book :</h1>

<form method="POST" action="/creation">

    <label>Titre</label>
    <input type="text" name="title"> <br/>
    <label>Author</label>
    <input type="text" name="author"> <br/>
    <label>Year</label>
    <input type="text" name="year"> <br/>

    <button type="submit">Créer</button>

</form>