<h1> New book :</h1>

<form method="POST" action="/creation">

    <label>Titre</label>
    <input type="text" name="title">
    <label>Author</label>
    <input type="text" name="author">
    <label>Year</label>
    <input type="text" name="year">

    <button type="submit">Créer</button>

</form>