<h1> Register</h1>

<form method="POST" action="/sign">

    <label>Your email :</label>
    <input type="text" name="email"> <br/>
    <label>Password</label>
    <input type="text" name="password"> <br/>

    <button type="submit">create</button>

</form>